*{
    box-sizing: border-box;
}

.conteiner1 {
    width: 500px;
     height: 185px;
    color: black;
    padding-left: 10px;
    margin: 0 auto;
}

.conteiner2 {
    width: 670px;
    height: 166px;
    padding-left: 15px;
     margin-top: 20px;
 }
 .conteiner3 {
    width: 670px;
    height: 166px;
    padding-left: 15px;
  float: right;
 }
 .conteiner4 {
   width: 100%;
  float: left;
   }